@{
    ViewData["Title"] = "Página Inicial";
}
<div style="margin-top:50px">
    <div class="text-center">
        <h1 class="display-4">Seja bem-vindo(a) @ViewBag.Name</h1>
        <br/>
        <p>Tenha um ótimo dia! Teste Deploy Azure Atualizado</p>
        <hr />
        <h3>@ViewBag.Date</h3>
    </div>
</div>
